.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

local.properties

*.iml

/.idea/

.DS_Store
Thumbs.db

*.jks
*.keystore

google-services.json

secrets.properties
*.env
/AndroidApp/.idea/caches/deviceStreaming.xml
/AndroidApp/.idea/workspace.xml
